{% extends 'base.html' %}

{% block title %} Blog {% endblock title %}
{% block blogactive %} active {% endblock blogactive %}

{% block body %}

<div class="container my-3">
    <h2> Coding Articles by iCoder: </h2>
    
    <div class="row">
        {% for post in posts %}
        <div class="col-12 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <strong class="d-inline-block mb-2 text-primary">Article by {{post.author}}</strong>
                    <h3 class="card-title mb-0">
                        <a class="text-dark">{{ post.title }}</a>
                    </h3>
                    <div class="mb-1 text-muted">{{ post.timestamp }}</div>
                    <p class="card-text mb-auto">{{ post.content|truncatewords:"40" }}</p>
                    <a href="{% url 'blogPost' post.slug %}" class="btn btn-primary mt-2">Continue reading</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock body %}
